RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|img|css|js|robots\.txt)
RewriteCond $1 !^(index\.php|application/views/|robots\.txt|install|favicon\.ico|documents)
RewriteRule ^(.*)$ index.php?/$1 [L]
Options All -Indexes

# ===========================================================
# 
# RewriteRule ^blog$ jamet.php?$1 [L]
# RewriteRule ^store$ media.php?module=store [L]
# RewriteRule ^profil-kami\.html$ media.php?module=profilkami&id=$1 [L]
# RewriteRule ^welcome$ index.php?/$1 [L]
# ErrorDocument 404 /rayhanprima/blog